

.desktop-form,
.btnPass{
    margin: 0 auto;
}

#contact,
.login-part{
    text-align: center;
}

#contact {
    margin: 50px 0;
    width: 100%;
}

#contact .form-group {
    margin: 15px auto;
    width: 50%;
}

.login-part label {
    padding: 0;
    width: 600px;
}

/*Pagination*/
.post-comment textarea {
    height: 200px;
}

.page {

    display: flex;
    justify-content: center;
    
}

.pagination li{
    padding: 10px;
    border-radius: 100%;
    margin: 20px;
}
