
#contact,
.all-forms {
    width: 60%;
    margin: 10px auto;
}
/*.desktop-form {
    margin: auto;

}

.col-lg-10 {
     max-width: none;
}
/*adminView style*/
td a {
    width: auto;
    padding: 0;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
}



