
.form-billet .delete {
    display: block;
    width: 40%;
    margin: 10px auto;
}

#description {
     width: 57%;
}
#contact,
.all-forms {
    width: 60%;
    margin: 10px auto;
}
/*adminView style*/
/*table Article*/


.table-article .btnAdmin {
    vertical-align: middle;
    justify-content: center;
}





