
#contact,
.all-forms {
    width: 60%;
    margin: 10px auto;
}
/*adminView style*/
/*table Article*/


.table-article .btnAdmin {
    vertical-align: middle;
    justify-content: center;
    width : 150px;
}

.table-article .extrait  {
    display: block;
}




